.nav {
  z-index: 999;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 2.08rem;
  overflow: hidden;
  li {
    width: 20%;
    height: 100%;
    display: inline-block;
    text-align: center;
    a {
      font-size: .9rem;
      display: block;
      height: 100%;
      padding: .2rem 0 .6rem 0;
      color: #666;
    }
  }
  .router-link-exact-active {
    color: #f86442;
    border-bottom: 1.5px solid #f86442;
  }
}
